body {
  /* TODO: Determine font to use for site */
  margin: 0;
  padding-bottom: 150px;
  background-color: grey;
}

html {
  min-height: 100%;
  position: relative;
}

header{
  background-color: #000;
  text-align: center;
  display: flex;
}

h1 {
  color: #000;
  font-size: 28px;
  width: 100px;
  height: 75px;
  padding-top: 10px;
  margin: 20px;
  border-radius: 2px;
}

nav {
  flex-grow: 1;
}

nav ul:visited, nav ul {
  display: flex;
  flex-direction: row;
  color: #fff;
  list-style: none;
  padding: 10px 0;
  margin: 50px;
}

nav ul li {
  flex-grow: 1;
  font-size: 18px;
  /* the following code is with help from https://www.w3schools.com/css/css3_transitions.asp */
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

nav ul li:hover {
  /* TODO: Experiment with hover responses */
  color: #c3c39b;
}

.menu-icon {
  display: none;
}

/* current page nav */
.current{
  color: #c3c39b;
}

/* styles the triangle at the base of the header section */
.triangle-nav-base {
  margin: auto;
  width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid #000;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.shop-display-section {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  width: 80%;
}

.shop-display-section a[href="gold.html"]:visited,
.shop-display-section a[href="sterlingsilver.html"]:visited,
.shop-display-section a[href="trending.html"]:visited{
  color: black;
}

.shop-display-section div {
  flex-grow: 1;
  height: 300px;
  width: 250px;
  background-color: white;
  margin: 50px 20px;
  border-radius: 5px;
}

.shop-display-section div h3 {
  margin: 100px auto;
  color: #fff;
}

/* For the about section page */
.about-section {
  margin: auto;
  width: 60%;
}

.about-section p {
  text-align: justify;
}

.about-subsection {
  margin: 35px auto;
  display: flex;
  flex-direction: row;
}

.about-subsection figure {
  flex-grow: 1;
  margin: 0;
  display: inline;
}

.about-subsection p {
  flex-grow: 1;
  margin: 0 0 0 35px;
}

.about-subsection figure img {
  height: 200px;
}

.mainContent {
  text-align:center;
}

#form-container {
  text-align: center;
}

#contact-form {
  padding: 20px;
  display: inline-block;
}

#contact-form div {
  margin: 20px 0;
  text-align: left;
}

#contact-form label {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  text-align: right;
  font-weight: bold;
}

#contact-form em, .error-message {
  color: #c70505;
  display: inline;
}

#contact-form input, textarea {
  /* TODO: Determine the font for input */
  width: 250px;
  border: 1px solid #000;
  padding: 5px;
}

#contact-form textarea {
  resize: none;
  height: 150px;
}

#contact-submit-btn {
  padding-left: 90px;
}

#contact-submit-btn input {
  display: block;
  margin:auto;
  width: 100px;
  height: 35px;
  border-radius: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.image-container ul {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-grow: 1;
  list-style: none;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.image-container ul li {
  flex-grow: 1;
  position: relative;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
}

.image-container ul li span {
  color: #d4d6d8;
  position: relative;

  position: absolute;
  flex-grow: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

.image-container ul li img {
  height: 200px;
  width: 100px;
  position: relative;
  flex-grow: 2;
}

.footer{
  margin:0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  padding: 20px 0;
}

.slideshow {
  margin: 0px auto;
  text-align: center;
}

.slideshow h2 {
  text-align: center;
  margin-bottom: 4px;
  margin-top: 4px;
}

.slideshowImageHolder {
  /* width: 500px; */
  margin: 0px auto;
  display: inline-flex;
  flex-direction: row;
}

#slide-arrow-next, #slide-arrow-prev {
  cursor: pointer;
  margin-top: 100px;
  padding: 5px 12px;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  opacity: 0.5;
  /* transitions fade for smooth feel */
  -o-transition:.6s;
  -ms-transition:.6s;
  -moz-transition:.6s;
  -webkit-transition:.6s;
  transition:.6s;
}

#slide-arrow-next:hover, #slide-arrow-prev:hover {
  opacity: 1;
}

.slideshowButtonHolder {
  position: relative;
  height: 50px;
}

.slideshowNextButton {
  width: 60px;
  text-align: center;
  padding: 10px;
  border: 1px black solid;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  cursor: pointer;
  background-color: gray;
}

.hpheading {
  text-align: center;
}

#goldNavItem {
  display: inline-block;
  position: relative;
}

#goldDropdown {
  position: absolute;
  background-color: gold;
  color: black;
  padding: 10px;
  left:30px;
  width: 130px;
  text-align: left;
}


/* MOBILE RESPONSIVE CODE STARTS BELOW. BE CAREFUL */

@media (max-width: 1000px) {

  nav ul {
    display: none;
    text-align: right;
    position: relative;
    right: 0;
    top: 20px;
  }

  nav ul li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    margin: 35px 50px 0 0;
  }

  .menu-icon div {
    background-color: #fff;
    width: 35px;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Class switch is the state where the menu icon is an "X" */
  .switch .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .switch .bar2 {
    opacity: 0;
  }

  .switch .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -9px);
  }

}
