body {
  /* TODO: Determine font to use for site */
  margin: 0;
}

header{
  background-color: #000;
  text-align: center;
  display: flex;
}

h1 {
  color: #000;
  font-size: 28px;
  width: 100px;
  height: 75px;
  padding-top: 10px;
  margin: 20px;
  background: #fff;
  border-radius: 2px;
}

nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  color: #fff;
  list-style: none;
  padding: 10px 0;
  margin: 50px;
}

nav ul li {
  flex-grow: 1;
  font-size: 18px;
  /* cool fade effects for the hover */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

nav ul li:hover {
  /* TODO: Experiment with hover responses */
  color: #c3c39b;
}

.menu-icon {
  display: none;
}

/* current page nav */
.current{
  color: #c3c39b;
}

/* styles the triangle at the base of the header section */
.triangle-nav-base {
  margin: auto;
  width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 35px solid #000;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.shop-display-section {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  width: 80%;
}

.shop-display-section div {
  flex-grow: 1;
  height: 300px;
  width: 250px;
  background-color: #000;
  margin: 50px 20px;
  border-radius: 5px;
}

.shop-display-section div h3 {
  margin: 100px auto;
  color: #fff;
}

/* For the about section page */
.about-section {
  margin: auto;
  width: 60%;
}

.about-section p {
  text-align: justify;
}

.about-subsection {
  margin: 35px auto;
  display: flex;
  flex-direction: row;
}

.about-subsection figure {
  flex-grow: 1;
  margin: 0;
  display: inline;
}

.about-subsection p {
  flex-grow: 1;
  margin: 0 0 0 35px;
}

.about-subsection figure img {
  height: 200px;
}

#form-container {
  text-align: center;
}

#contact-form {
  padding: 20px;
}

#contact-form div {
  margin: 20px 0;
}

#contact-form label {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  text-align: right;
}

#contact-form label em {
  color: #c70505;
}

#contact-form input, textarea {
  /* TODO: Determine the font for input */
  width: 250px;
  border: 1px solid #000;
  padding: 5px;
}

#contact-form textarea {
  resize: none;
  height: 150px;
}

#contact-submit-btn {
  text-align: center;
}

#contact-submit-btn input {
  margin-left: 80px;
  width: 100px;
  height: 35px;
  border-radius: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.image-container ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
}

.image-container ul li {
  flex-grow: 1;
}

.image-container ul li img {
  height: 200px;
  width: 300px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
    padding-bottom: 20px;
}

.mainContent {
}

.slideshow {
  width: 500px;
  margin: 0px auto;
}

.slideshow h2 {
  text-align: center;
  margin-bottom: 4px;
  margin-top: 4px;
}

.slideshowImageHolder {
  width: 500px;
  margin: 0px auto;
}

.slideshowButtonHolder {
  position: relative;
  height: 50px;
}

.slideshowNextButton {
  width: 60px;
  text-align: center;
  padding: 10px;
  border: 1px black solid;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  cursor: pointer;
  background-color: gray;
}

.hidden {
  display: none;
}

@media (max-width: 1000px) {

  nav ul {
    display: block;
    text-align: right;
    position: relative;
    right: 0;
    top: 20px;
  }

  nav ul li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    margin: 35px 50px 0 0;
  }

  .menu-icon div {
    background-color: #fff;
    width: 35px;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
  }

  .switch .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .switch .bar2 {
    opacity: 0;
  }

  .switch .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -9px);
  }

}
